PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_name
DB_USER=root
DB_PASSWORD=db_password
DB_HELPER=db_helper
DB_HRD=db_hrd

JWT_SECRET=your_super_secret_key_min_32_chars
JWT_EXPIRES_IN=8h